@charset "utf-8";
/* CSS Document */

#head{
	border-radius: 10px;
	
	   background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fbfbfb",GradientType=1);  
	
	height: 60px;
	padding-bottom: 2px;
	padding-top: 10px;
	color: white;
	
}

#topic_head{
	border-radius: 10px;
	
	   background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0.8071428400461748) 0%, rgba(3,208,208,1) 25%, rgba(67,2,131,1) 50%, rgba(3,208,208,1) 75%, rgba(251,251,251,0.7343137083935136) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fbfbfb",GradientType=1);  
	
	height: 30px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: white;
	
}


